<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.cbots.service</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/python3</string>
        <string>/Users/nicolasshuaishuai/dev/tools/jhfnetboy-CBots/main.py</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/nicolasshuaishuai/dev/tools/jhfnetboy-CBots</string>
    <key>StandardOutPath</key>
    <string>/Users/nicolasshuaishuai/dev/tools/jhfnetboy-CBots/bot.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/nicolasshuaishuai/dev/tools/jhfnetboy-CBots/bot.error.log</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>ProcessType</key>
    <string>Interactive</string>
</dict>
</plist> 